@model Smoothie.Domain.ViewModels.MakeSmoothieViewModel
@{
    ViewBag.Title = "Put a straw in it";

    var i = 1;
}
@section scripts
{
    <script type="text/javascript">
        $(function () {
            $("#summaryBox").hide();
            BindDrag();
            BindDrop();

            $("#searchbox").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Home/SearchIngredients",
                        dataType: 'json',
                        data: request,
                        success: function (data) {
                            response(data.map(function (value) {
                                return {
                                    'label': value.Value,
                                    'value': value.Value
                                };
                            }));
                        }
                    });
                },
                minLength: 2

            });
        });

        function OnSuccess() {
            $("#smoothieBox").hide();
            $("#summaryBox").show();
        }

        function ReBindDrag() {
            BindDrag();
        }

        function BindDrag() {
            $(".sourceItem").unbind("draggable").draggable({
                helper: "clone",
                appendTo: "body"
            });
        }

        function BindDrop() {

            $("#targetBox").droppable({
                accept: ".sourceItem",
                hoverClass: "drop-active",
                drop: function (event, ui) {
                    //var sourceItem = ui.draggable.html();
                    var sourceItemImage = ui.draggable.find('img').attr('src');
                    var sourceItemName = ui.draggable.find('a').attr('title');
                    var sourceItemId = ui.draggable.attr("id");

                    var exist = $("#targetBox").find("." + sourceItemId).val();
                    if (exist) {
                        $("#targetBox").find("." + sourceItemId).val(parseInt(exist) + 1);
                    } else {
                        var sourceHtml = '<div class="targetItem">';
                        sourceHtml = sourceHtml + '<img class="targetItemImage" src="' + sourceItemImage + '" alt=""/><br />';
                        sourceHtml = sourceHtml + sourceItemName;
                        sourceHtml = sourceHtml + '<div>Qty:  <input type="text" name="qty" class="qty ' + sourceItemId + '" value="1" /> <a  onclick="remove(this)" class="delete">Delete</a></div>';
                        sourceHtml = sourceHtml + '<input type="hidden" name="targetName" value="' + sourceItemId + '">';
                        sourceHtml = sourceHtml + '</div>';

                        $("#targetBox").append(sourceHtml);
                    }
                }
            });
        }


        function remove(el) {
            $(el).parent().parent().remove();
        }



        
    </script>
}
<div id="Main">
    <div id="MainLeft">
        <div id="searchwrapper">
            <form action="">
            <input type="text" class="searchbox" id="searchbox" name="s" value="" />
            <input type="image" src="@Links.Content.images.search_icon_png" class="searchbox_submit"
                       value="" />
            </form>
        </div>
        <div id="CategoryList">
            <ul>
                @foreach (var item in Model.Categories)
                {
            
                    <li>
                        @Ajax.ActionLink(item.Name, "GetCategory", "Home", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "sourceBoxInner", InsertionMode = InsertionMode.Replace, OnSuccess = "ReBindDrag" })
                    </li>  
                }
            </ul>
        </div>
        <div id="sourceBox" class="clearfix">
            <div class="inner" id="sourceBoxInner">
                @foreach (var item in Model.Ingredients)
                {
                    if(i % 4 == 0)
                    {
                        <br class="clear"/>
                    }

                    <div class="sourceItem" id="@item.NDB_No">
                        <img src="@item.Image" alt="@item.Name"/><br />
                        <a href="#" title="@item.Name">@item.Name</a>
                    </div>
                   
                }
            </div>
        </div>
        <div class="clear">
        </div>
    </div>
    <div id="MainRight">
        <div id="smoothieBox">
            @using (Ajax.BeginForm("Summary", "Home", new AjaxOptions { UpdateTargetId = "summaryBox", OnSuccess = "OnSuccess" }))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                @Html.Hidden("smoothieId", 0)
                <div id="blender">
                    <div id="targetBox" class="clearfix">
                    </div>
                    <input id="btnBlend"  type="image" src="@Links.Content.images.btn_blend_png" name="image" />
                </div>           
            }
        </div>
        <div id="summaryBox">
        </div>
    </div>
    <div class="clear">
    </div>
</div>
